@page "/shoppinglist2"
@using Blazor6App.Models;

<PageTitle>Shopping List</PageTitle>
<h3>Dereks Shopping List</h3>

@*Input New Item Using Blazor Forms*@

<EditForm Model="shoppingItem" OnValidSubmit="AddItem">
	<DataAnnotationsValidator/>
	<ValidationSummary />
	<p>
		<label class="form-label">
			Name: <InputText class="form-control" @bind-Value="shoppingItem.Name" />
		</label>
	</p>
	<p>
		<label class="form-label">
			Quantity: <InputNumber class="form-control" @bind-Value="shoppingItem.Quantity" />
		</label>
	</p>
	<p>
		<label class="form-label">
			Price: <InputNumber  class="form-control" @bind-Value="shoppingItem.Price" />
		</label>
	</p>
	<button class="btn btn-primary mb-5" type="submit">Add Item</button>
</EditForm>

<div class="col-4">
	<table class="table table-bordered">
		<tr>
			<th>Name</th>
			<th class="text-center">Quantity</th>
			<th class="text-center">Price</th>
			<th>Action</th>
		</tr>
		@foreach(ShoppingItem listItem in shopping)
		{
			<Item ShoppingItem="@listItem" OnQuantityChanged="OnQuantityChanged"></Item>	
		}

	</table>
</div>
<br/>

<h3>Total Cost: @totalCost.ToString("c")</h3>

@code 
{
	private ShoppingItem shoppingItem = new();

	private decimal totalCost;

	private List<ShoppingItem> shopping = new()
	{
		new ShoppingItem(){Id = 1, Name = "Tomatoes", Quantity = 1, Price = 1.50m}
	};

	private void AddItem()
	{

		shopping.Add(shoppingItem);
		CalculateTotal();

		shoppingItem = new();
	}

	private void CalculateTotal()
	{
		totalCost = @shopping.Sum(item => item.Price * item.Quantity);		
	}

	public void OnQuantityChanged()
	{
		CalculateTotal();
	}
}

